.bg_table{
    background-image: url('../../assets/background2.png') !important;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: 0 !important;
    position: relative;
    height: 100vh;
}
.bg_table2{
    background-image: url('../../assets/background2.png') !important;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: 0 !important;
    position: relative;
    height: auto !important;
}
.tab_res{
    width:100% !important;
   
}
@media screen and (max-width:800px) {
    .tab_res{
        width:100%;
        overflow:scroll
    }
    .bg_table{
        background-image: url('../../assets/background2.png') !important;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        z-index: 0 !important;
        position: relative;
        height: auto;
        padding-bottom: 23rem;
    }
    
}

.inputremovebg{
    background: transparent !important;
    color: #fff;
    outline: none;
    border: none;
}